[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piyushcoolkarni
[access "refs/for/refs/*"]
	read = group user/piyushcoolkarni
	push = group user/piyushcoolkarni
	label-Code-Review = -2..+2 group user/piyushcoolkarni
	label-Verified = -1..+1 group user/piyushcoolkarni
	rebase = group user/piyushcoolkarni
	removeReviewer = group user/piyushcoolkarni
	submit = group user/piyushcoolkarni
[access "refs/heads/*"]
	read = group user/piyushcoolkarni
	create = group user/piyushcoolkarni
	push = +force group user/piyushcoolkarni
	pushMerge = group user/piyushcoolkarni
[access "refs/tags/*"]
	push = group user/piyushcoolkarni
	push = +force group user/piyushcoolkarni
